.text-gradient{
  background: -webkit-linear-gradient(#34d399,#0ea5e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-gradient{
  background: -webkit-linear-gradient(#34d399,#0ea5e9);

}
.bg-gradient2{
  background: -webkit-linear-gradient(#34d39998,#0ea4e97e);

}
.text-hover{
  transition: 5s;
}
.text-hover:hover{
   background: -webkit-linear-gradient(#34d399,#0ea5e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}